/* For Tablet */
@media all and (max-width: 1000px) {

    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }

    .lessons {
        flex-wrap: wrap;
    }

    .product_section h3 {
        font-size: 32px;
    }
    /* Section Contact Us */
    .box-contact {
        flex-wrap: wrap;
    }
    .box-icon {
        width: 50%;
    }
    .box-contents {
        width: 50%;
        justify-content: center;
    }

    .box-form{
        width: 50%;
        padding: 0px;
        
    }
    /* End Section Contact Us */

}

/* For Smartphone */
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }

    span.menu-icon {
        display: block;
    }

    .lessons {
        justify-content: center;
        height: 100% auto;
    }

    .lesson {
        width: 100%;
    }

    .dropdown {
        display: block;
        /* margin-right: 50px; */
    }

    .dropbtn {
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        margin-top: 50px;
        margin-left: 520px;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }

    .container_products {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .product_section h3 {
        font-size: 20px;
    }
    .product_section {
        height: 4000px;
    }
    /* Star Section Contact Us */
    .contact-us {
        justify-content: center;
}
    .box-contact {
        justify-content: center;
}
    .box-icon {
        width: 100%;
} 

    .box-contents {
        justify-content: center;
        width: 100%;
}
    .box-form{
        width: 100%;
        padding: 20;
}
    .box-form input { 
        width:100%;

}
    .box-form textarea {
        width:100%;
} 
    .box-form button {
        width: 100%;
        margin: 0;
}
 /* End Section Contact Us    */
}