/* For Tablet */
@media all and (max-width: 1000px) {

    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }

    .lessons {
        flex-wrap: wrap;
    }

    .product_section h3 {
        font-size: 32px;
    }

}

/* For Smartphone */
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }

    span.menu-icon {
        display: block;
    }

    .lessons {
        justify-content: center;
        height: 100% auto;
    }

    .lesson {
        width: 100%;
    }

    .dropdown {
        display: block;
        /* margin-right: 50px; */
    }

    .dropbtn {
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        margin-top: 50px;
        margin-left: 520px;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }

    .container_products {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .product_section h3 {
        font-size: 20px;
    }
}