* {
    box-sizing: border-box;
}

html, body, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway";
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: rgba(30, 144, 255, 0.4);
}

.about-section h1 {
    color: #5f5d60;
}

h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
}

.logo {
    width: 120px;
    margin-left: 120px;
    margin-top: -90px;
}

.wording-logo {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

header {
    height: 65px;
    width: 100%;
    background-color: #1E90FF;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    float: left;
}

.fa {
    margin-right: 5px;
}

.header-right {
    float: right;
    margin-right: 25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(172, 223, 255, 0.3);
}

.dropdown {
    display: none;
}

.active {
    background-color: rgba(172, 223, 255, 0.3);
}

span.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    margin-right: 20px;
    display: none;
}

/* Start Section Our-Partners */
.heading {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #1E90FF;
}

.heading h1 {
    font-weight: normal;
    color: #ffff;
}

.our-partners {
    background-color: #ffff;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.lessons {
    display: flex;
    justify-content: center;
}

.lesson {
    float: left;
    width: 25%;
    text-align: center;
}

.lesson-icon {
    position: relative;
    border-left: 1px solid #1E90FF;
    border-right: 1px solid #1E90FF;
}

.lesson-icon img {
    width: 200px;
    height: 200px;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 30px;
    color: #b3aeb5;
}

.txt-contents span {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    font-size: 30px;
    background-color: #1E90FF;
    border-radius: 10px;
    color: #ffff;
}

/* End Section Our-Partners */

/* Start Section Products */
.product_section {
    background-color: rgba(30, 144, 255, 0.4);
    height: 1650px;
}

.product_section_title {
    padding-top: 50px;
    color: #5f5d60;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.product_section_desc {
    text-align: center;
    font-size: 25px;
}

.container_products {
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    place-items: center;
    height: 100vh;
    padding: 50px;
}

.box {
    background: white;
    text-align: center;
    box-shadow: -1px 0 5px 5px rgba(0, 0, 0, 0.05);
}

.container_products img {
    width: 100%;
    height: 100%;
}

.text {
    padding: 20px;
}

.text h3 {
    font-size: 15px;
}

.text p {
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0 10px 0;
}

.text h2 {
    font-size: 18px;
    color: blue;
}

.rate i {
    font-size: 10px;
    color: #fbaf44;
    margin-bottom: 10px;
    margin-top: 10px;
}

.rate i:nth-child(4),
.rate i:nth-child(5) {
    color: #bdc7cf;
}

.button {
    background: blue;
    padding: 15px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
/* End Section Products */

* Star section Contact Us */
  
.contact-us {
    background-color: #ffff;
    padding-bottom: 80px;
    text-align: center;
    padding: 5%;
}

.title-contact {
    padding: 10px 0;
    border-radius: 10px;
    margin: 100px 0;
    background-color: #1E90FF;
    color: white;
}

.box-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    grid-gap:20px;
    
}

.box-icon {
    width: 30%;
    padding: 30px 0 0 0;
    box-shadow: -1px 0 5px 5px rgb(0 0 0 / 5%);
}

.box-icon img {
    justify-items: center;
    width: 70px;
    height: 70px;
    padding-top: 0px;
}

.text-contents {
    padding: 20px 0;
    font-size: 20px;
    font-weight:bold;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
}
.text-contents p{
    width: 60%;
    padding: 10px;
    display: inline-block;
    background-color: #1E90FF;
    border-radius: 10px;
    color: white;
}
.text-contents h3 {
    color: #1E90FF;
}

.form-contact {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: center;
    
}
.box-contents {
    width: 25%;
    padding: 20px;
    text-align: left;
    background-color: #1E90FF;
    box-shadow: -1px 0 5px 5px rgb(0 0 0 / 5%);
    color: white;

}
.box-form {
    width: 50%;
    padding: 0 70px;
    text-align: left;
    box-shadow: -1px 0 5px 5px rgb(0 0 0 / 5%);
}
.box-form input{
    width: 100%;
    padding: 8px 10px;
    font-weight: 400;
    border-radius: 3px;
}

.box-form textarea {
    width:100%;
    padding: 8px 10px;
    font-weight: 400px;
    border-radius: 3px;
}
.box-form button {
    margin: 10px;
    padding: 10px;
    background-color:#1E90FF;
    border-radius: 6px ;
    color: white;
    cursor: pointer;
}


/* End Section Contact Us */